<!--<span class="created-by">
  Copyright © Todos los Derechos Reservados - 2014 <b>2022</b> 
</span>
<div class="socials">
</div>-->

<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12">
      Copyright © Todos los Derechos Reservados - 2022
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12" >
    <span style="float: right;">Version 0.0.6</span> 
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12">
    <b>Oficina de Informática, Telecomunicaciones y Estadística</b>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12" >
    <b style="float: right;">Sistema de Información Gerencial de Salud - SIGSALUD</b>
  </div>
</div>