.contenedor-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../assets/img/diresa_callao.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}