<h5>Gestión</h5>
<div class="row">
    <div class="col-lg-12">
        <nb-card>
          <nb-card-body>
            <app-filtro-select *ngIf="filtroSelect" [filtroSelect]="filtroSelect" (addActionData)="filtrarData($event)"></app-filtro-select>
            <app-barchart *ngIf="areaChartData" [areaChartData]="areaChartData" [areaChartOptions]="areaChartOptions"></app-barchart>
            <div>
                <nb-tabset>
                  <nb-tab tabTitle="Resumen" tabIcon="person-outline" responsive>
                    <app-table *ngIf="dataTable.data" [dataTable]="dataTable" (actionShowHospital)="mostrarGraficaHospital($event)" ></app-table>
                  </nb-tab>
                  <nb-tab tabTitle="Red Bonilla" tabIcon="bell-outline" responsive>
                    <p>List of <strong>orders</strong>.</p>
                  </nb-tab>
                  <nb-tab tabTitle="Red BePeCa" tabIcon="email-outline" responsive>
                    <p>List of <strong>transactions</strong>.</p>
                  </nb-tab>
                </nb-tabset>
            </div>


          </nb-card-body>
        </nb-card>
    </div>
</div>


