<p>gestion works!</p>
<h5>Establecimiento XXXXXX</h5>
<div class="row">
    <div class="col-lg-12 text-center">
        <nb-card>
            <nb-card-body>
                <span>Indicador</span>
              <nb-select placeholder="Indicador" size="small">
                <nb-option value="1">Indicador 1</nb-option>
                <nb-option value="2">Indicador 2</nb-option>
                <nb-option value="3">Indicador 3</nb-option>
              </nb-select>
              <span>Año</span>
              <nb-select placeholder="Año" size="small">
                <nb-option value="2022">2022</nb-option>
                <nb-option value="2021">2021</nb-option>
                <nb-option value="2020">2020</nb-option>
                <nb-option value="2019">2019</nb-option>
                <nb-option value="2018">2018</nb-option>
              </nb-select>
              <app-barchart></app-barchart>
              <!--<app-barchart [areaChartData]="areaChartData"></app-barchart>-->
            </nb-card-body>

        </nb-card>
    </div>
</div>


