<div class="leyenda-container mt-3">
    <nb-card>
        <nb-card-body class="leyenda-body">
            <span class="title-card">Leyenda:</span>
            <div class="leyenda-color">
                <div class="box-color" style="background-color: rgb(97, 241, 128);"></div>
                <span class="leyenda-text"><strong>Éxito:</strong> de {{metaIndicadorLeyenda}}% a más</span>
            </div>
            <div class="leyenda-color">
                <div class="box-color" style="background-color: rgb(241, 114, 97);"></div>
                <span class="leyenda-text"> <strong>Riesgo:</strong> De {{(metaIndicadorLeyenda)-0.1}}% a menos</span>
            </div>
        </nb-card-body>
    </nb-card>
</div>
