<div class="filtro-container mt-4">
    <div class="filtro-indicador text-center">
      <span class="mb-1">{{filtroSelectIndicador.title}}</span>
      <nb-select placeholder="Indicador" size="tiny" [(selected)]="filtroSelectIndicador.selectedItem">
        <nb-option *ngFor="let data of filtroSelectIndicador.data" [value]="data.value">{{data.name}}</nb-option>
      </nb-select>
    </div>
    <div class="filtro-indicador text-center">
      <span class="mb-1">{{filtroSelectFecha.title}}</span>
      <nb-select placeholder="Indicador" size="tiny" [(selected)]="filtroSelectFecha.selectedItem">
        <nb-option *ngFor="let data of filtroSelectFecha.data" [value]="data.value">{{data.name}}</nb-option>
      </nb-select>
    </div>
    <div class="filtro-indicador">
      <button nbButton status="primary" size="tiny" (click)="filtrarData(filtroSelectFecha.selectedItem, filtroSelectIndicador.selectedItem)">Filtrar</button>
    </div>
</div>