<div class="table-responsive">
    <table id="tabla-his" class="table table-bordered table-hover" style="font-size: 9px;">
        <thead>
          <tr style="text-align: center;">
            <ng-container *ngFor="let header of dataTable.headers; let i=index">
                <ng-container *ngIf="i==0; else dataCol" >
                    <th scope="col">
                      {{header}}
                    </th>
                </ng-container>
                <ng-template #dataCol>
                    <th scope="col" colspan="2">
                        {{header}}
                      </th>
                </ng-template> 
            </ng-container>
            
              
          </tr>
          <tr style="text-align: center;">
            <th scope="col" *ngFor="let subheader of dataTable.subheaders">
                {{subheader}}
            </th>
          </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let data of dataTable.data">
                <tr style="cursor: pointer;" (click)="selectedRowHospital(data)" [ngClass]="{'table-active': data.select}">
                    <ng-container *ngFor="let item of $any(data) | keyvalue: originalOrder; let i = index ">
                        <ng-container *ngIf="!dataTable?.indexDisable?.includes(i)">
                            <ng-container *ngIf="dataTable.rowBold==i; else data">
                                <th scope="row" style="text-align: start;">&nbsp;&nbsp;&nbsp;&nbsp;{{item.value}}</th>
                            </ng-container>
                            <ng-template #data>
                                <!---<ng-container *ngIf="isPorcentaje(item.value); else numero">
                                    <td style="text-align: center;"
                                        [ngClass]="{'green': isColor(item.value) === 'green', 'yellow' : isColor(item.value) === 'yellow','red' : isColor(item.value) === 'red' }"
                                    >{{item.value}}</td>
                                </ng-container>--->
                                <!---<ng-template #numero>
                                    <td style="text-align: center;">{{item.value}}</td>
                                </ng-template>--->
                                <td style="text-align: center;"
                                    [ngClass]="{'green': isColor(item.value[0]) === 'green', 'yellow' : isColor(item.value[0]) === 'yellow','red' : isColor(item.value[0]) === 'red' }"
                                    [nbTooltip]="item.value[1]"  status="basic"
                                >{{item.value[0]}}</td>
                            </ng-template>
                        </ng-container>
                    </ng-container>
                </tr>
            </ng-container>

        </tbody>
    </table>
</div>

<app-leyenda-table *ngIf="dataTable.meta" [metaIndicador]="dataTable.meta" ></app-leyenda-table>

<div class="button-container">
    <button nbButton status="success" size="small" (click)="donwloadTabla()">Descargar Tabla<nb-icon icon="download"></nb-icon></button>
</div>