.icon-container{
    height: 100%;
}

.card-rutas-container{
  display: flex;
  justify-content: space-between;
}

.icon{
    background-color: #36f;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.75rem;
    height: 100%;
    transition: width .4s ease;
    transform: translateZ(0);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden; 
}

:host {
    display: block;
  }
  
  .card-row {
    display: flex;
    margin: 0 -0.5rem;
  }
  
  .card-col {
    flex: 1 0 calc(50% - 1rem);
    margin: 0 0.5rem;
  }


  
@media (max-width: 576px) { 
  .icon-container{
      display: none;
  }

  .card-rutas-container{
    flex-direction: row;
    align-items: center;
  }
  
}