@import '../../../@theme/styles/themes';

@include nb-install-component() {
  ngx-chartjs-pie,
  ngx-chartjs-bar,
  ngx-chartjs-line,
  ngx-chartjs-multiple-xaxis,
  ngx-chartjs-bar-horizontal,
  ngx-chartjs-radar {
    display: block;
    height: nb-theme(card-height-medium);
    width: 100%;

    ::ng-deep chart {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}

.chart-container canvas{
  height: 68vh;
}

.button-container{
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
}

// Celulares

@media (max-width: 450px) {
  .chart-container canvas{
    height: 58vh;
  }
}